* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Orkney_Bold";
    src: url("./Assets/Orkney_Bold.otf");
}

@font-face {
    font-family: "Orkney_Medium";
    src: url("./Assets/Orkney_Medium.otf");
}

body {
    font-family: Orkney_Medium;
}

#logo {
    width: 170px;
    margin-top: 30px;
}

.right {
    width: 800px;
    margin: 100px 0 0 0;
}

#hello {
    margin: 150px 0 0 50px;
    width: 300px;
}

#character {
    position: absolute;
    margin: -210px 0 0 320px;
}

.mHomeContent {
    display: none;
}






@media only screen and (max-device-width: 480px) {
    .body {
        height: 800px !important;
    }

    .homeContent {
        display: none;
    }

    .mHomeContent {
        display: block;
        margin-top: 80px;
        width: 100%;
        text-align: center
    }

    #character {
        display: none;
    }

    .loader_bg {
        margin: 0;
    }
}